<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <header>
        <h1>Welcome!</h1>
    </header>
    <main>
        <div class='register'>
            <h3>Register</h3>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/register" method="post">
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="alias">Alias</label>
                <input type="text" name="alias">
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="password">Password</label>
                <input type="password" name="password">
                <label for="confirm">Confirm PW</label>
                <input type="password" name="confirm_password">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class='login'>
            <h3>Login</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="password">Password</label>
                <input type="password" name="password">
                <input type="submit" value="Login">
        </div>
    </main>
</body>

</html>